[package]
authors = ["Alexander Nikolaev <alexander.nikolaev@unikie.com>"]
edition = "2021"
license = "Apache 2.0"
name = "givc"
publish = false
version = "0.0.1"

[dependencies]
anyhow = "1.0.98"
async-stream = "0.3"
clap = { version = "4.5.41", features = ["derive", "env"] }
regex = "1.11"
serde_json = "1.0.120"
serde = { version = "1.0.202", features = ["derive"] }
tokio-stream = "0.1"
tokio = { version = "1.46", features = [
  "rt-multi-thread",
  "time",
  "macros",
  "fs",
] }
tokio-listener = { version = "0.5.1", features = [
  "multi-listener",
  "vsock",
  "tonic013",
] }
tokio-vsock = "0.7"
tonic-reflection = "0.13"
tonic-types = "0.13"
tonic = { version = "0.13", features = ["tls-ring"] }
tracing = "0.1"
tracing-journald = "0.3"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
x509-parser = "0.17"

# GIVC subparts
givc-common = { path = "../common" }
givc-client = { path = "../client" }
lazy-regex = "3.4.1"
