[package]
authors = ["Alexander Nikolaev <alexander.nikolaev@unikie.com>"]
edition = "2021"
license = "Apache 2.0"
name = "givc-common"
publish = false
version = "0.0.1"

[dependencies]
anyhow = "1.0.98"
glib = { version = "*", optional = true, features = [] }
prost = "0.13"
serde = { version = "1.0.219", features = ["derive"] }
strum = { version = "0.27", features = ["derive"] }
tokio = { version = "1.46", features = ["rt-multi-thread", "time", "macros"] }
tokio-vsock = "*"
tonic = { version = "0.13", features = ["tls-ring"] }

[build-dependencies]
tonic-build = { version = "0.13", features = ["prost"] }

[features]
glib = ["dep:glib"]
