[package]
authors = ["Alexander Nikolaev <alexander.nikolaev@unikie.com>"]
edition = "2021"
license = "Apache 2.0"
name = "givc-common"
publish = false
version = "0.0.1"

[dependencies]
anyhow = "1.0.98"
async-stream = "0.3"
prost = "0.13"
serde = { version = "1.0.202", features = ["derive"] }
strum = { version = "0.27", features = ["derive"] }
tokio-stream = "0.1"
tokio = { version = "1.44", features = ["rt-multi-thread", "time", "macros"] }
tokio-vsock = "*"
tonic-types = "0.13"
tonic = { version = "0.13", features = ["tls-ring"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[build-dependencies]
tonic-build = { version = "0.13", features = ["prost"] }
