[package]
authors = ["Ganga Ram Jaiswal <Ganga.Ram@tii.ae>"]
edition = "2024"
license = "Apache 2.0"
name = "givc-policyadmin"
publish = false
version = "0.0.1"

[dependencies]
anyhow = "1.0.100"
async-channel = "2.3.1"
async-fn-stream = "*"
async-stream = "0.3"
crossbeam-channel = "0.5.15"
gix = { version = "0.79", default-features = false, features = [
  "blocking-network-client",
  "blocking-http-transport-reqwest",
  "worktree-mutation",
  "revision",
  "blob-diff",
] }
reqwest = { version = "0.13.1", default-features = false, features = [
  "json",
  "gzip",
  "deflate",
] }
serde_json = "1.0.149"
serde = { version = "1.0.202", features = ["derive"] }
sha2 = "0.10.9"
tempfile = "3.24.0"
tokio-stream = "0.1"
tokio = { version = "1.49", features = [
  "rt-multi-thread",
  "time",
  "macros",
  "fs",
] }
tokio-util = "0.7"
tonic-reflection = "0.14"
tonic-types = "0.14"
tonic = { version = "0.14", features = ["tls-aws-lc"] }
tracing = "0.1"
walkdir = "2.5.0"
