# SPDX-FileCopyrightText: 2022-2024 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

name: check
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  run-checks:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - arch: "x86_64-linux"
            os: "ubuntu-latest"
          - arch: "aarch64-linux"
            os: "ubuntu-24.04-arm"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Platform
        run: uname -a
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install nix
        uses: cachix/install-nix-action@7be5dee1421f63d07e71ce6e0a9f8a4b07c2a487 # v31.6.1
        with:
          enable_kvm: true
          extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
      - name: Check .nix formatting
        run: nix fmt -- --fail-on-change
      - name: Check nix flake show runs successfully
        run: nix flake show --system ${{ matrix.arch }}
      - name: Run nix flake check
        run: nix flake check --system ${{ matrix.arch }}