# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

name: check
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  run-checks:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - arch: "x86_64-linux"
            os: "ubuntu-latest"
          - arch: "aarch64-linux"
            os: "ubuntu-24.04-arm"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Platform
        run: uname -a
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          enable_kvm: true
          extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
      - name: Check .nix formatting
        run: nix fmt -- --fail-on-change
      - name: Check nix flake show runs successfully
        run: nix flake show --system ${{ matrix.arch }}
      - name: Run nix flake check
        run: nix flake check --system ${{ matrix.arch }}