# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

name: go-sectest
on:
    push:
        paths:
        - 'modules/**'
    pull_request:
        paths:
        - 'modules/**'
permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install libudev-dev (for go-udev)
        run: sudo apt-get update && sudo apt-get install -y libudev-dev
      - name: Run Gosec Security Scanner
        uses: securego/gosec@424fc4cd9c82ea0fd6bee9cd49c2db2c3cc0c93f # master
        with:
          args: '-exclude=G302,G204 -no-fail ./modules/...'
      - name: Run Go Tests
        run: go test -v ./modules/...
