# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

name: go-sectest
on:
    push:
        paths:
        - 'modules/**'
    pull_request:
        paths:
        - 'modules/**'
permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install libudev-dev (for go-udev)
        run: sudo apt-get update && sudo apt-get install -y libudev-dev
      - name: Run Gosec Security Scanner
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # master
        with:
          args: '-exclude=G302,G204 -no-fail ./modules/...'
      - name: Run Go Tests
        run: go test -v ./modules/...
